<div class="container_blog">
	<h2 class="post_title"><span>{{ page.title }}</span></h2>
  <span class="post_meta">
   {% if page.author %}
      {% if page.author.link %}
        <a href="{{page.author.link">{{page.author.name}}</a>
      {% else %}
        {{ page.author.name }} 
      {% endif %}
  {% endif %}
    &middot;    
    {{ page.date | date_to_long_string }}
  </span>
	{{ content }}

	{% if page.group_signup %}
		{% assign group_title = page.group_title %}
		{% assign group_name = page.group_name %}

		{% include mailinglist_signup.html %}
	{% endif %}
	
	<div id="related">
		<h2><span>Related Posts</span></h2>
	
		<ul class="posts">
			{% for post in site.related_posts limit:3 %}
				<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div id="feedback">
		<h2><span>Feedback</span></h2>
		<div id="disqus_thread">
		  {% include JB/comments %}
	  </div>
	</div>
	
</div>