

<div>
  <img src="http://groups.google.com/intl/en/images/logos/groups_logo_sm.gif"
         style="height:30px; width:140px; float:left; padding-top:25px" alt="Google Groups">

  <div style="margin-left: 160px">
    <b>Sign up for {{group_title}}</b>
    </td></tr>
    <form action="http://groups.google.com/a/opentechschool.org/group/{{group_name}}/boxsubscribe">
    Email: <input type=text name=email>
    <br>
      <input type=submit name="sub" value="Sign up">&nbsp;or&nbsp;<a href="http://groups.google.com/a/opentechschool.org/group/{{group_name}}">visit it</a>
    </form>


  </div>
  <br style="clear:both">
</div>
