
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  list-style-type: none;

}

  .posts h2.post-title {

  }

  .posts .post-date {

  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {

}

.title {

}

  .site .title a {

  }

  .site .title a:hover {

  }

  .site .title a.extra {

  }

  .site .title a.extra:hover {

  }

  .site .meta {

  }

  .site .footer {

  }

    .site .footer .contact {

    }

      .site .footer .contact a {

      }

    .site .footer .rss {

    }

      .site .footer .rss img {

      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid #111;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

 /* OTS Customs */
.otsicon{
height: 50px;
width: 50px;
text-align: center;
float: left;
padding: 0 10px 0 0;
}

.otsicon img{
max-height: 50px;
max-width: 50px;
padding: 0;
}
.otsicon.list{
width: 100%;
margin: 10px;
}
.article .article-content .otsicon img{
border: none;
border-image: none;
}
.otsicon.list img{
margin-right: 10px;
}
  
